.item {
    border: 3px solid gray;
    width: 60px;
    height: 60px;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.green {
    background-color: rgb(65, 122, 65);
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.empty {
    background-color: #fff;
}